#loginBox {
	color: #e1e7ef;
	float:right; 
	margin: 0px 10px 0px 0px; 
}
	#loginBox a{
		color: #e1e7ef;
	}	

.login {
	padding: 0;
	margin: -2px 0px -2px 0px;
}
	
	.login a {
		font-size: 10pt;
	}
	


#profile {
	margin: 10px 0px;
}

	#profile_pic {
		float:left;
	}
	
	#profile table {
		border-spacing: 0;
	}
	
	#profile .first_element {
		font-weight: bold;
		padding: 2px 5px 0px 0px;
	}
